<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.ca.assignment1A"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.ualberta.ca.assignment1A.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.ca.assignment1A.ArchiveListActivity"
            android:label="@string/title_activity_archive_list" >
        </activity>
        <activity
            android:name="ca.ualberta.ca.assignment1A.SummaryActivity"
            android:label="@string/title_activity_summary" >
        </activity>
        <activity
            android:name="ca.ualberta.ca.assignment1A.EmailActivity"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name="ca.ualberta.ca.assignment1A.EmailSomeTodoActivity"
            android:label="@string/title_activity_email_some_todo" >
        </activity>
        <activity
            android:name="ca.ualberta.ca.assignment1A.EmailSomeArchiveActivity"
            android:label="@string/title_activity_email_some_archive" >
        </activity>
    </application>

</manifest>
